*{
    box-sizing: border-box;
}

*:focus{
    outline: 2px dashed #7296EC;
    outline-offset: 3px;
}
html{
    width: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
 color: #4A4B4C;
font-family:   'Rubik','Arial', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
}
img{
    max-width: 100%;
    height: auto;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    padding: 13px 20px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
}
.primary-button{
    background-color: #7296EC;
    color: #fff;
}
.button:active{
    opacity: 0.8;
}
.button:hover{
    opacity: 0.7;
}

.button-orange{
    background-color:#f78b3b ;
    color: #fff;

}
.container{
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
/* site header  */
/* SITE HEADER TOP  */
.site-header-top {
    background-color: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}
.site-header-top-container {
    display: flex;
    align-items: center;
}
.site-header-logo {
    display: flex;
    background-color: #fff;
    padding: 8px 6px;
    border-radius: 7px;
    margin-right: 40px;
}
.currency-rates {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: auto;
    list-style: none;
}
.currency-rates-item:not(:last-child) {
    margin-right: 25px;
}
.currency-rates-type {
    color: #2959CE ;
}
/* GLOBAL SEARCH ITEM  */
.global-search-form{
    margin-right: 25px;
}

.global-search-form-input{
    padding: 15px 20px 13px 40px;
    border: 0;
    border-radius: 60px;
    font-size: 14px;
    line-height: normal;
}

/* LANGUAGE TOGGLE  */
.language-toggle {
    display: flex;
    padding: 3px;
    border-radius: 39px;
    margin-right: 25px;
    background-color: #dce6ff;
}
.language-toggle-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #a6a6a6;
}
.language-toggle-link-active {
    background-color: #fff;
    color: #000;
}
.sitenav {
    padding-bottom: 12px;
    padding-top: 12px;
border-bottom: 1px solid #d1d1d1;
margin-bottom: 40px;
font-size: 18px;
line-height: normal;
font-weight: 500;
}
.sitenav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sitenav-item{
    margin-top: 4px;
    margin-bottom: 4px;
}
.sitenav-item:not(:last-child){
    margin-right: 30px;

}
.sitenav-link {
    display: block;
    color: #7f7f7f;
    font-family: "Rubik", "Arial",sans-serif;
    text-decoration: none;
}
.sitenav-link:active{
    color: #2959CE;

}
.sitenav-link:hover{
    opacity: 0.8;
}
/* SITE HEADER BANNER  */
.site-header-banner-link{
    display: flex;
}

.main-content{
    flex-grow: 1;
    padding-top: 50px;
}

/* NEWS GRID */
.news-grid {
    display: flex;
    flex-wrap: wrap;
   margin-left:-10px ;
}
.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.article-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #F6F6F6;
    padding: 20px 17px 15px;
}
.article-card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}
.article-card-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.article-card-link:hover{
    color: #2959CE;
}
.article-card-link:active{
    opacity: 0.8;
}
.article-card-text {
    margin-top: 0;
    margin-bottom: 15px;
}
.article-card-img {
    width: 360px;
    height: 165px;
    margin-bottom: 15px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin-top: auto;
}
.article-card-footer {
    display: flex;
    align-items: center;
}
.article-card-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}
.article-card-source-time {
    font-size: 12px;
    line-height: auto;
    color: ;
}
 /* notification-cta */
 .notification-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px 25px 25px;
   margin: 60px 75px;
   border-radius: 10px;
    background-color: #ffc7ba;
}
.notification-cta-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}
  
.news-main-container{
    display: flex;
    align-items:;
}
.urgent-news-item {
    width: 797px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.card-article {
    padding: 20px 17px;
    background-color: #F6F6F6;
    border-radius: 15px;
}
.urgent-news-img-wrapper{
display: flex;
}
.urgent-news-wrapper{
    display: flex;
    flex-direction: column;
}
.urget-news-image {
    display: block;
    margin-right: 15px;
}
.urgent-news-title {
    margin-top: 0;
    margin-bottom: 10px;
}
.urgent-news-title-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.urgent-news-title-link:hover{
    color: #2959CE;
}
.urgent-news-title-link:active{
    opacity: 0.8;
}
.urgent-news-text {
    margin-top: 0;
}
.urgent-news-footer {
    display: flex;
    align-items: center;
    justify-self: center;

}
.urgent-news-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}
.urgent-news-source-time {
    font-size: 12px;
    line-height: auto;
}
.main-news { 
    background-color: #F6F6F6;
    width: 393px;
    height: 502px;
}
.main-news-class {
}
.main-news-title {
}
.main-news-title-link {
}
.main-news-source-time {
}
.main-news-source {
}